<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Registra la venta</h1>
                <hr>
                <p>Puedes registrar en esta secciòn cada una de las ventas realizadas.</p>
                <a href="registrarVenta" class="btn btn-primary btn-xl page-scroll">Registra una venta!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Lista las ventas!</h2>
                    <hr class="light">
                    <p class="text-faded">¿Quieres ver un reporte de las ventas realizadas? Realizala en el siguiente botòn</p>
                    <a href="listarVentas" class="page-scroll btn btn-default btn-xl sr-button">Listar ventas</a>
                </div>
            </div>
        </div>
    </section>
