<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Listado de ventas</h1>
                <hr>
                <p>A continuación puedes ver el listado de ventas.</p>
            </div>
        </div>
    </header>

<section>
    <div class="row">
        <div class="container">
            <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Valor total ventas</th>
                    </tr>
                </thead>
                <tbody>
                    {{CONTENT}}
                </tbody>
            </table>
        </div>
    </div>    
</section>